<ion-view view-title="Contact Us">
  <ion-content>
    <h1>Contact Us</h1>
  
  <h1 class="page-title">Get in touch</h1>
  <div class="w-section section">
    <div class="w-container content-wrapper">
      <div class="w-row contact-row">
        <div class="w-col w-col-6">
          <h2 class="contact-h3">Business&nbsp;Manager</h2>
          <div>David&nbsp;Sheaf</div>
          <div>803.968.0784</div>
          <a href="#" class="contact-link">david.sheaf@skylane.us</a>
        </div>
        <div class="w-col w-col-6">
          <h2 class="contact-h3">Creative&nbsp;Director</h2>
          <div>William&nbsp;Ballard</div>
          <div>803.269.5265</div>
          <a href="#" class="contact-link">william.ballard@skylane.us</a>
        </div>
      </div>
    </div>
    <div class="w-container content">
      <div class="contact-row">
        <h2 class="contact-h3">Contact for Investment</h2>
        <div class="w-form form">
          <form id="email-form" name="email-form" data-name="Email Form">
            <label for="name" class="field">Name:</label>
            <input id="name" type="text" placeholder="Enter your name" name="name" data-name="Name" class="w-input input">
            <label for="email" class="field">Email Address:</label>
            <input id="email" type="email" placeholder="Enter your email address" name="email" data-name="Email" required="required" class="w-input input">
            <label for="Subject" class="field">Subject:</label>
            <input id="Subject" type="email" placeholder="Enter your subject" name="Subject" data-name="Subject" required="required" class="w-input input">
            <label for="field" class="field">Message:</label>
            <textarea id="field" placeholder="Enter your message" name="field" class="w-input input textarea"></textarea>
            <input type="submit" value="Send Message" data-wait="Please wait..." class="w-button button contact">
          </form>
          <div class="w-form-done success">
            <p>Thank you! Your submission has been received!</p>
          </div>
          <div class="w-form-fail">
            <p>Oops! Something went wrong while submitting the form</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="w-section footer">
    <div class="w-container">
      <a href="#" class="w-inline-block footer-link">
        <img width="23" src="images/social-03-white.svg">
      </a>
      <a href="#" class="w-inline-block footer-link">
        <img width="23" src="images/social-18-white.svg">
      </a>
      <a href="#" class="w-inline-block footer-link">
        <img width="23" src="images/social-16-white.svg">
      </a>
      <a href="#" class="w-inline-block footer-link">
        <img width="23" src="images/social-17-white.svg">
      </a>
      <div class="footer-text">S k y&nbsp;&nbsp;L a n e&nbsp;&nbsp;is not responsible for pilot and aircraft regulatory standing. All pilots verify and take responsibility for the air worthiness of their craft as well as their personal good standing with all governmental agencies.&nbsp;</div>
    </div>
  </div>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script type="text/javascript" src="js/webflow.js"></script>
  <!--[if lte IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/placeholders/3.0.2/placeholders.min.js"></script><![endif]-->
  </ion-content>
</ion-view>
